<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikikyou.practice.model.mapper.EntityRelationMapper">

    <resultMap id="roleMenuResult" type="com.ikikyou.practice.model.entity.system.SysRoleMenu" >
        <result property="roleId"     column="role_id"      />
        <result property="menuId"     column="menu_id"      />
    </resultMap>

    <insert id="insertUserRoleRelation">
        insert into sys_user_role(user_id, role_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
    </insert>

    <delete id="deleteUserRoleRelation">
        delete from sys_user_role
        <choose>
            <when test="isUser">
                where user_id=#{id}
            </when>
            <otherwise>
                where role_id=#{id}
            </otherwise>
        </choose>
    </delete>

    <select id="getRoleMenuById" resultMap="roleMenuResult">
        select
            role_id,menu_id
        from
            sys_role_menu
        <choose>
            <when test="isRole">
                where role_id = #{id}
            </when>
            <otherwise>
                where menu_id = #{id}
            </otherwise>
        </choose>
    </select>

    <insert id="insertUserPostRelation">
        insert into sys_user_post(user_id, post_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId},#{item.postId})
        </foreach>
    </insert>

    <delete id="deleteUserPostRelation">
        delete
        from
            sys_user_post
        <choose>
            <when test="isUser">
                where user_id=#{id}
            </when>
            <otherwise>
                where post_id=#{id}
            </otherwise>
        </choose>
    </delete>
    <insert id="insertRoleMenuRelation">
        insert into sys_role_menu(role_id, menu_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.roleId},#{item.menuId})
        </foreach>
    </insert>

    <delete id="deleteRoleMenuRelation">
        delete from sys_role_menu
        <choose>
            <when test="isRole">
                 where role_id=#{id}
            </when>
            <otherwise>
                where menu_id=#{id}
            </otherwise>
        </choose>
    </delete>
</mapper>
