<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikikyou.practice.model.mapper.SysDictDataMapper">

    <resultMap id="BaseResultMap" type="com.ikikyou.practice.model.entity.system.SysDictData">
            <id property="dictCode" column="dict_code" jdbcType="BIGINT"/>
            <result property="dictSort" column="dict_sort" jdbcType="INTEGER"/>
            <result property="dictLabel" column="dict_label" jdbcType="VARCHAR"/>
            <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
            <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
            <result property="cssClass" column="css_class" jdbcType="VARCHAR"/>
            <result property="listClass" column="list_class" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_default" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        dict_code,dict_sort,dict_label,
        dict_value,dict_type,css_class,
        list_class,is_default,status,
        create_by,create_time,update_by,
        update_time,remark
    </sql>
</mapper>
