<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikikyou.practice.model.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="com.ikikyou.practice.model.entity.system.SysLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="userNickName" column="user_nick_name" jdbcType="VARCHAR"/>
            <result property="userIp" column="user_ip" jdbcType="VARCHAR"/>
            <result property="userIpSource" column="user_ip_source" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="opUrl" column="op_url" jdbcType="VARCHAR"/>
            <result property="opMethod" column="op_method" jdbcType="VARCHAR"/>
            <result property="opParams" column="op_params" jdbcType="VARCHAR"/>
            <result property="opModule" column="op_module" jdbcType="VARCHAR"/>
            <result property="module" column="module" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="result" column="result" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_nick_name,
        user_ip,user_ip_source,type,
        op_url,op_method,op_params,
        op_module,module,content,
        result,create_time
    </sql>
</mapper>
