<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikikyou.practice.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.ikikyou.practice.entity.SysMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="permission" column="permission" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="orders" column="orders" jdbcType="SMALLINT"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isHidden" column="is_hidden" jdbcType="SMALLINT"/>
            <result property="status" column="status" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,permission,
        parent_id,icon,path,
        component,orders,type,
        create_time,update_time,is_hidden,
        status
    </sql>
    <select id="getByRoleIds" resultType="com.ikikyou.practice.entity.SysMenu">
        SELECT
            id, name, permission, parent_id, icon, path, component, orders, type, create_time, update_time, is_hidden, status
        FROM
        sys_menu menu left join role_menu_link link on link.menu_id = id
        where
        link.role_id in
        <foreach collection="roleIds" item="roleId" separator="," open="(" close=")" >
            #{roleId}
        </foreach>
    </select>
</mapper>
